*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

.background-image{
    background-color: #000000;
    background-image: url(about.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 1500px;
    height: 1%;
}